/* app css stylesheet */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

table#suspendidos tr{
    background-color:rgb(241, 200, 13);
 }

 table#bloqueados tr{
    background-color:rgb(146, 33, 19);
    color: white;
 }

 table#terminados tr{
    background-color:rgb(0, 0, 0);
    color: white;
 }

 table#listos tr{
    background-color:rgb(101, 197, 22);
    color: white;
 }

 .panel-body  {
     word-break:break-all
} 

.progress-bar-servidor {
    background-color: #F5F5F5;
    color: black;
}

.progress-bar-terminado {
    background-color:rgb(0, 0, 0);
    color: white;
}

h1 .textoPrimario {
    text-shadow: 0px -2px 0px #333, 0px 2px 3px #666;
}